<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/auth/loginData">Login</a>
    <a href="/auth/registerData">Register</a>
    <a href="/pro/formData">form</a>
    <a href="/pro/home">home</a>
    <h1>Update Your Product</h1>
    <form action="/pro/edit/<%= data._id %>" id="form">
        <input type="hidden" id="id" value="<%= data._id %>">
        <label for="">Product Name : </label>
        <br>
        <input type="text" id="productName" value="<%= data.productName %>">
        <br> <br>
        <label for="">Product Price : </label>
        <br>
        <input type="number" id="productPrice" value="<%= data.productPrice %>">
        <br> <br>
        <label for="">Product Quantity : </label>
        <br>
        <input type="number" id="productQuantity" value="<%= data.productQuantity %>">
        <br> <br>
        <label for="">Product Discription : </label>
        <br>
        <input type="text" id="discription" value="<%= data.discription %>">
        <br> <br>
        <button>Add Product</button>
    </form>

    <script>
        let form = document.querySelector("#form");
        form.addEventListener("submit", (e) => {
            e.preventDefault();
            let id = document.querySelector("#id").value;
            let productName = document.querySelector("#productName").value;
            let productPrice = document.querySelector("#productPrice").value;
            let productQuantity = document.querySelector("#productQuantity").value;
            let discription = document.querySelector("#discription").value;

            fetch(`/pro/edit/${id}`, {
                method: "PATCH",
                body: JSON.stringify({ productName, productPrice, productQuantity, discription }),
                headers: {
                    "content-type": "application/json; charset=UTF-8"
                }
            })
                .then((res) => res.json())
                .then((data) => console.log(data))
                .catch((error) => console.log(error))

            document.querySelector("#productName").value = "";
            document.querySelector("#productPrice").value = "";
            document.querySelector("#productQuantity").value = "";
            document.querySelector("#discription").value = "";
        })
    </script>
</body>

</html>